body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: url('../images/bcg.png');
  color: #5d5b79;
}

#name {
  margin-bottom: 50px;
}

#player1-input,
#player2-input {
  padding: 10px;
}

.greeting-player1 {
  position: absolute;
}

.greeting-player2 {
  text-align: right;
}

.addName {
  padding: 11px 25px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  background: #5d5b79;
}

.player1-name,
.player2-name {
  text-align: center;
  margin-bottom: 20px;
}

.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.title {
  background: #5d5b79;
  padding: 60px;
  margin-bottom: 50px;
  border-radius: 10px;
}

.title h1 {
  font-weight: 700;
  font-size: 40px;
  color: white;
  text-align: center;
}

.hands-player1,
.hands-player2 {
  text-align: center;
  cursor: pointer;
}

.player1-side,
.results,
.player2-side {
  background: white;
  border: 3px solid #5d5b79;
  border-radius: 10px;
  padding: 30px 0;
}

.hands-player1 img,
.hands-player2 img {
  width: 50px;
}

.rock img {
  width: 50px;
  margin-bottom: 20px;
}
.paper img {
  width: 60px;
  margin-bottom: 20px;
}

.game {
  display: flex;
  margin-bottom: 100px;
}

.player1-side {
  width: 30%;
  margin-right: 20px;
}

.results {
  width: 40%;
  margin-right: 20px;
}

.player2-side {
  width: 30%;
}

.points h2 {
  text-align: center;
  font-size: 40px;
}

.points p {
  text-align: center;
}

.waiting {
  margin-bottom: 50px;
}
