body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: url('../images/bcg.png');
}

.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.title {
  background: #5d5b79;
  padding: 60px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
}

.title h1 {
  font-weight: 700;
  font-size: 40px;
  color: white;
  text-align: center;
}

.hands {
  margin: 0;
  padding: 0;
}

.hand-group {
  display: flex;
  flex-wrap: wrap;
}

.hands img {
  width: 200px;
}

.rock {
  width: 33.33%;
}
.paper {
  width: 33.33%;
  text-align: center;
}
.scissors {
  width: 33.33%;
  text-align: right;
}
