body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: url('../images/bcg.png');
  color: #5d5b79;
}

#name {
  text-align: center;
  margin-bottom: 50px;
}

#name-input {
  padding: 10px;
}

.addName {
  padding: 11px 30px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  background: #5d5b79;
}

.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.title {
  background: #5d5b79;
  padding: 60px;
  margin-bottom: 50px;
  border-radius: 10px;
}

.title h1 {
  font-weight: 700;
  font-size: 40px;
  color: white;
  text-align: center;
}

.hands {
  text-align: center;
}

.hand-group,
.results,
.opponent {
  background: white;
  border: 3px solid #5d5b79;
  border-radius: 10px;
  padding: 30px 0;
}

.hands img {
  width: 50px;
}

.rock img {
  width: 50px;
  margin-bottom: 20px;
}
.paper img {
  width: 60px;
  margin-bottom: 20px;
}

.game {
  display: flex;
  margin-bottom: 100px;
}

.hand-group {
  width: 30%;
  margin-right: 20px;
}

.results {
  width: 40%;
  margin-right: 20px;
}

.opponent {
  width: 30%;
}

.points h2 {
  text-align: center;
  font-size: 40px;
}

.points p {
  text-align: center;
}
